{% extends 'base.html.twig' %}
{% set title = 'Create task'|trans %}

{% form_theme form _self %}
{%- block form_group_class -%}
{% if name == 'project' %}
	col-sm-6
{% else %}
	col-sm-4
{% endif %}
{%- endblock form_group_class %}

{%- block _task_project_widget -%}
	<div class="input-group">
		{{- block('choice_widget') -}}
		<span class="input-group-btn">
			<a href="{{ path('project_new', {'r': app.request.query.get('r'), task_new: '1'}) }}" class="btn btn-success" title="{% trans %}Create project{% endtrans %}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
		</span>
	</div>
{%- endblock _task_project_widget -%}

{% block body %}
	<div class="col-xs-12">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<input type="submit" value="{% trans %}Save{% endtrans %}" class="btn btn-default btn-primary" />
				<a href="{{ app.request.query.get('r')|default(path('task_index')) }}" class="btn btn-default">{% trans %}Cancel{% endtrans %}</a>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
