{% macro render_tasks_list_js(selector, tasks, paging, searching, info) %}
	{% set paging = paging is null ? true : paging %}
	{% set searching = searching is null ? true : searching %}
	{% set info = info is null ? true : info %}
	$("{{ selector }}").DataTable({
		pageLength: 25,
		data: [
			{% for task in tasks %}
				{
					id: {{ task.id }},
					project: "{{ task.no ~ (task.project_description ? ('-' ~ task.project_description)) }}",
					begin: {
						display: "{{ task.dateTimeBegin ? task.dateTimeBegin|localizeddate('medium', 'medium') }}",
						timestamp: {{ task.dateTimeBegin|date('U') }}
					},
					end: {
						display: "{{ task.dateTimeEnd ? task.dateTimeEnd|localizeddate('medium', 'medium') }}",
						timestamp: {{ task.dateTimeEnd|default(date('+1years'))|date('U') }}
					},
					duration: "{{ task.duration }}"
				}{{ loop.last ? '' : ',' }}
			{% endfor %}
		],
		paging: {{ paging ? 'true' : 'false' }},
		searching: {{ searching ? 'true' : 'false' }},
		info: {{ info ? 'true' : 'false' }},
		columns: [
			{
				title: "{% trans %}Project{% endtrans %}",
				data: "project"
			},
			{
				title: "{% trans %}Begin{% endtrans %}",
				data: "begin",
				render: {
					_: "display",
					sort: "timestamp"
				}
			},
			{
				title: "{% trans %}End{% endtrans %}",
				data: "end",
				render: {
					_: "display",
					sort: "timestamp"
				}
			},
			{
				title: "{% trans %}Duration{% endtrans %}",
				data: "duration"
			},
			{
				orderable: false,
				searchable: false,
				data: "id",
				render: function(data, type, row)
				{
					var url = Routing.generate('task_edit', {id: data, r: "{{ app.request.requestUri }}", _locale: "{{ app.request.locale }}"});
					return '<a href="' + url + '" \
						   class="btn btn-default btn-sm" title="{% trans %}Modify{% endtrans %}" role="button">\
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>\
						</a>';
				}
			},
			{
				orderable: false,
				searchable: false,
				data: "id",
				render: function(data, type, row)
				{
					var url = Routing.generate('task_delete', {id: data, r: "{{ app.request.requestUri }}", _locale: "{{ app.request.locale }}"});
					return '<a href="' + url + '" \
						   class="btn btn-default btn-sm" title="{% trans %}Delete{% endtrans %}" role="button">\
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>\
						</a>';
				}
			}
		]
	});
{% endmacro  %}